#danger-areas {
    transition: all .2s ease-in-out; 
    stroke: rgb(99, 25, 26);
    fill: red;
    stroke-width: 0.5;
}

#CTAs,
#CTZs,
#TCAs,
#danger-areas {
    fill-opacity: 0.1;
}

#CTAs :hover,
#CTZs :hover,
#TCAs :hover,
#danger-areas :hover {
    fill-opacity: 0.5;
}

[data-class="A"] {
    fill: blue;
}

[data-class="D"] {
    fill: green;
}

[data-class="E"] {
    fill: cyan;
}
